.upperBox{
    background-color: rgba(209, 235, 197, 0.644);
    padding-bottom: 3%;
    margin:auto;
}
.header {
    display: flex;
}
.clickables{
    display: flex;
    margin: auto;
}
.headerLogo {
    margin: auto;
}
.books {
    margin: auto;
    padding-right: 2%;
}
.courses {
    margin: auto;
    padding-right: 2%;
}
.others {
    margin: auto;
    padding-right: 2%;
}
.blog {
    margin: auto;
    padding-right: 2%;
}
.signIn {
    display: inline;
    margin: auto;
    background-color: green;
    border-radius: 30%;
}
.header2 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding-top: 5%;
    padding-left: 30%;
    padding-right: 30%;
}
.leftText {
    margin: auto;
    padding-right: 5%;
}
.pic2 {
    padding-left: 5%;
    margin: auto;
}
.l1{
    color: red;
}
.getStarted{
    font-size: 20px;
    display: inline;
    background-color: green;
    border-radius: 25px;
    padding: 3px;
}
.cols {
    margin: auto;
    padding-top: 2%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.bookPic {
    padding: 2%;
    background-color: rgba(220, 233, 214, 0.644);
}
.studPic {
    padding: 2%;
    background-color: rgba(220, 233, 214, 0.644);
}
.testPic {
    padding: 2%;
    background-color: rgba(220, 233, 214, 0.644);
}
.studPic2 {
    padding: 2%;
    background-color: rgba(220, 233, 214, 0.644);
}